.profile-picture {
  max-width: 90%;
  padding: 3px;
  max-height: 250px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #1976d2;
  object-fit: cover;
}

// ul {
//   -webkit-column-count: 7;  /* Chrome/Opera, Safari */
//   -moz-column-count: 7; /* Mozilla Firefox */
//   column-count: 7;
  
//   /* Properties below are optional: */
//   -webkit-column-gap: 50px; /* Chrome/Opera, Safari */
//   -moz-column-gap: 50px; /* Mozilla Firefox */
//   column-gap: 50px;
  
//   -webkit-column-rule: 1px single grey; /* Chrome/Opera, Safari */
//   -moz-column-rule: 1px single grey; /* Mozilla Firefox */
//   column-rule: 1px single grey;
//   }
  